/* ============================================
   HERO SECTION
   ============================================ */

.banner__box a.button.button--primary.button--lg.button--fixed.icon-with-text {
    font-size: 29px !important;
    min-width: 240px;
}

.banner__box h1 {
    letter-spacing: normal !important;
}

.banner__box .btn-text .icon-arrow-right {
    width: 40px;
    height: 40px;
}

/* ============================================
   PRODUCT CARDS
   ============================================ */

.card.product-card.product-card--card.flex.flex-col.leading-none.relative {
    background: #F5F5F5;
    padding: 20px;
}

.product-card__top {
    display: none;
}

.product-card__details {
    flex-direction: column;
    height: 100%;
}

.cost_row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 12px;
}

.product-card__content.grow.flex.flex-col.justify-start.text-left.w-full {
    padding: 12px 0px 0px 0px;
}

a.product-card__title {
    font-weight: 700;
    font-family: var(--font-heading-family) !important;
}

.product-card {
    min-width: 350px !important;
    border: 1px solid #CACACA !important;
}

/* ============================================
   FEATURED PRODUCT LIST SECTION
   ============================================ */

.featured-product-list .product-card .media--square {
    border-radius: 0px !important;
}

.product-list-featured__image {
    z-index: 13;
    overflow: hidden;
}

.product-list-featured__image img {
    transition: transform 0.5s ease;
    transform: scale(1);
}

.product-list-featured__image:hover img {
    transform: scale(1.1);
}

.featured-product-list .product-card .button--fixed {
    min-width: 45px !important;
}

.product-list-featured {
    z-index: 13;
}

.product-list-featured__content svg path {
    color: #ffffff !important;
}


.price__regular,
a.product-card__title,
.product-list-featured__heading,
.product-card__details .button{
    font-family: "Asap Condensed", Helvetica !important;
}

.product-card__details .button {
    text-transform: uppercase !important;
    font-weight: 900 !important;
    font-size: 20px !important;
}

a.product-card__title {
    font-weight: 600 !important;
}

.price__regular {
    font-size: 40px !important;
    font-weight: 900 !important;
}

a.product-card__title {
    font-size: 30px !important;
    display: -webkit-box !important;
    -webkit-line-clamp: 2 !important;
    line-clamp: 2 !important;
    -webkit-box-orient: vertical !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    line-height: 1.3 !important;
    max-height: calc(1.3em * 2) !important;
}

.product-list-featured__content .icon-arrow-right {
    width: 30px !important;
    height: 30px !important;
}

.slider .indicators {
    z-index: 13;
}

/* ============================================
   COLLECTION LIST SECTION
   ============================================ */

.collection-list-section .media-card__text p .heading{
    display: flex;
    align-items: center;
    gap: 10px;
}

.collection-list-section .media-card__content {
    position: absolute !important;
}

/* ============================================
   MULTICOLUMN SECTION
   ============================================ */

.media-card__text .heading{
    font-family: "Asap Condensed", Helvetica !important;
    font-size: 44px !important;
    font-weight: 900 !important;
    text-transform: uppercase;
    letter-spacing: normal !important;
}

.media-card__text svg {
    width: 35px !important;
    height: 35px !important;
}

/* ============================================
   NEWSLETTER BANNER SECTION
   ============================================ */

.newsletter-section .banner__content {
    color: #000000 !important;
}

.newsletter-section .banner__title {
    color: #004785!important;
    font-weight: 900 !important;
}

.newsletter-section .banner__box {
    max-width: 550px;
}

.newsletter-form .self-button {
    background-color: #004785 !important;
    color: #ffffff !important;
    min-width: 140px;
}

/* .newsletter-section .rte.body{
    margin: 0px !important;
} */

.newsletter-section .rte.body p {
    line-height: 27px !important;
}

.newsletter-form .field .input,
.newsletter-section .label.is-floating {
    height: 55px !important;
}

.newsletter-section .banner__media {
    border-radius: 0px !important;
}

@media only screen and (max-width: 450px) {
    .newsletter-form .field {
        flex-direction: column;
    }

    .newsletter-form .field .input, .newsletter-section .label.is-floating {
        height: 48px !important;
    }
}

/* ============================================
   COUNTDOWN TIMER SECTION
   ============================================ */
.split-words .word {
    text-transform: uppercase !important;
    letter-spacing: normal !important;
}

.banner__box .button {
    font-family: "Asap Condensed", Helvetica !important;
    font-weight: 900 !important;
    font-size: 20px !important;
    text-transform: uppercase !important;
}

.countdown__item span {
    font-size: 20px !important;
    font-weight: 900 !important;
    letter-spacing: normal !important;
}

.countdown-timer-section .btn-text {
    font-size: 29px;
}

.countdown-timer-section .btn-text .icon-arrow-right {
    width: 35px;
    height: 35px;
}

/* ============================================
   COLUMN CALL OUT SECTION
   ============================================ */

.column__title {
    font-weight: 900 !important;
    font-size: 20px !important;
    text-transform: uppercase;
}

.column__text.rte {
    color: #000000 !important;
    line-height: 20px;
    font-size: 16px;
    padding-top: 0px;
}

.column__icon.with-svg {
    height: 36px;
    display: flex;
    align-self: center;
}

.column__icon.with-svg svg {
    width: 36px;
    height: 36px;
}

/* ============================================
   ML FEATURED COLLECTION SECTION
   ============================================ */

.ml-featured-collection-button {
    font-family: "Asap Condensed", Helvetica !important;
    border-radius: 0px !important;
    min-width: 245px !important;
    font-weight: 900 !important;
}

.ml-featured-collection h2 {
    font-size: 52px !important;
}

.ml-featured-collection-button .btn-text {
    font-size: 29px !important;
}

.ml-featured-collection-button::after {
    border-radius: 0px !important;
}

.ml-featured-collection__button.button--fixed {
    min-width: 45px !important;
}

.ml-featured-collection__product-wrapper {
    display: flex;
    flex-direction: column;
}

.ml-featured-collection__variants {
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.ml-featured-collection__variant-option {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.ml-featured-collection__variant-label {
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    color: #000000;
}

.ml-featured-collection__variant-values {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
}

.ml-featured-collection__variant-value {
    padding: 6px 12px;
    border: 1px solid #000000;
    background-color: transparent;
    color: #000000;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    transition: all 0.2s ease;
    cursor: pointer;
}

.ml-featured-collection__variant-value:hover {
    background-color: #000000;
    color: #ffffff;
}

.ml-featured-collection__variant-value--unavailable {
    opacity: 0.4;
    cursor: not-allowed;
    text-decoration: line-through;
}

.ml-featured-collection__variant-value--unavailable:hover {
    background-color: transparent;
    color: #000000;
}

/* ============================================
   ML FEATURED PRODUCT SECTION
   ============================================ */

.ml-featured-product:before {
    display: none;
}

.ml-featured-product__content-wrapper {
    padding: 4rem;
}

.ml-featured-product__title {
    font-family: "Asap Condensed", Helvetica !important;
    font-weight: 700 !important;
    font-size: 44px !important;
    line-height: 50px !important;
}

.ml-featured-product__price {
    font-family: "Asap Condensed", Helvetica !important;
    font-size: 40px !important;
    font-weight: 900 !important;
}

.ml-featured-product__description {
    font-size: 16px !important;
    line-height: 1.6 !important;
    color: #000000 !important;
}

.ml-featured-product__variant-label {
    font-family: "Asap Condensed", Helvetica !important;
    font-weight: 600 !important;
}

.ml-featured-product__variant-value {
    font-family: "Asap Condensed", Helvetica !important;
    border-radius: 0px !important;
}

.ml-featured-product__add-to-cart {
    font-family: "Asap Condensed", Helvetica !important;
    border-radius: 0px !important;
    font-weight: 900 !important;
    font-size: 20px !important;
    text-transform: uppercase !important;
}

.ml-featured-product__quantity-input {
    font-family: "Asap Condensed", Helvetica !important;
    font-weight: 500 !important;
}

.ml-featured-product__featured-image-text {
    font-family: "Asap Condensed", Helvetica !important;
    font-weight: 900 !important;
}

.ml-featured-product__gallery-nav {
    border-radius: 0px !important;
}

.ml-featured-product__thumbnail {
    border-radius: 0px !important;
}

.ml-featured-product__main-image {
    border-radius: 16px !important;
    border: 1px solid #CACACA !important;
    background-color: #FFFFFF !important;
}

.ml-featured-product__featured-image {
    border-radius: 0px !important;
}

.ml-featured-product__featured-image-content .icon-arrow-right {
    width: 30px !important;
    height: 30px !important;
}

.ml-featured-product__featured-image-text {
    font-family: "Asap Condensed", Helvetica !important;
    border-radius: 0px !important;
}

.ml-featured-product__featured-image-text a {
    color: #004785 !important;
    text-decoration: none !important;
}

.ml-featured-product__thumbnails {
    justify-content: flex-start !important;
    padding: 12px 0 !important;
}

.ml-featured-product__description {
    display: block !important;
    visibility: visible !important;
}

.ml-featured-product__variant-selector {
    display: flex !important;
    visibility: visible !important;
}

.ml-featured-product__variant-label {
    display: block !important;
    visibility: visible !important;
}


/* ============================================
   FOOTER SECTION
   ============================================ */

.footer {
    grid-template-columns: repeat(1, minmax(0, 1fr));
}

.footer-copyright {
    justify-content: center !important;
    text-align: center !important;
    align-items: center !important;
}

.footer__accordions .details .details__summary {
    text-transform: uppercase !important;
    color: #004785 !important;
}

@media screen and (min-width: 768px) {
    .footer__accordions .details .details__summary {
        padding-bottom: 0px !important;
    }

    .footer__accordions {
        display: grid !important;
        grid-template-columns: repeat(3, 1fr) !important;
        gap: 40px !important;
    }

    .footer__accordions .details,
    .footer__accordions .no-details {
        width: 100% !important;
    }

}

@media screen and (max-width: 1023px) {
    .footer__accordions {
        grid-template-columns: repeat(2, 1fr) !important;
    }
}

@media screen and (max-width: 767px) {
    .footer__accordions {
        grid-template-columns: 1fr !important;
    }

    .footer__logo {
        justify-content: center !important;
        text-align: center !important;
        align-items: center !important;
    }
}
